body {
	background: #3B185F;
	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper {
	margin-top: 10% !important;
}

.date {
    color: #A12568;
    text-align: center;
}

#content {
	background: #2A0944;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}

.title {
    color: #A12568
}

#add-btn {
    background: #3B185F;
    border-color: #3B185F;
}

.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: white;
}
.list-group-item {
	color: black;
}